<!DOCTYPE html>
<html>
<head>
    <title>About -{{restuarant_name}}</title>
    {% loaf static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>{{restuarant_name}}</h1>
        <p> Delicious food, warm atmosphere</p>
        <nav>
            <a href="{%url 'homepage'%}">Home</a>
            <a href="{%url 'about'%}">About</a>
        </nav>
    </header>
    <main>
        <h2>About us</h2>
        <p>Welcome to {{restuarant_name}}, where we believe food should be fresh</p>
        <img src="{%static 'images/restuarant_interior.jpg'%}" alt="Restaurant Interior" style="max-width:100%; border-radius:8px; margin-top:20px">
    </main>
