{%load static%}
<!DOCTYPE html>
<html lag="en">
<head>
    <meta charset="UTF=8">
    <title>Restaurant Management</title>
    <link rel="stylesheet" href="{%static 'home/style.css'%}">
</head>
<body>
    <header>
        <h1>Welcome to our Restaurant</h1>
    </header>
    <main>
        <p>Explore our menu,place your orders</p>
        <a href="/products/menu/" class="btn">View Menu</a>
        <hr>
        <p><strong>Call Us:</strong>{{phone}}</p>
    </main>
    <footer>
        <p>&Copy; 2025 Restaurant Management</p>
    </footer>
</body>
</html>


